name: CI

on:
  push:
  workflow_dispatch:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: Self-Hosted-Runners-Spot

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Print current working directory
      run: pwd
